﻿@page
@model AdminModel
@{
    ViewData["Title"] = "John Deere Day";
}
@section Scripts {

}
@section Styles {
  
}


<div class="row">
    <div class="col-lg-6 text-center">
        <img src="images/JDLogo.png" width="300px" class="img-fluid" alt="Responsive image">
    </div>
    
    <div class="col-lg-6 text-center">
            <img src="images/ITS.png" width="300px" class="img-fluid" alt="Responsive image">
        </div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <h1>John Deere Day - ITS - Admin Control Panel</h1>
        <form method="post">
            <br>
            <button type="submit" asp-page-handler="CleanMessages" class="btn btn-primary">CleanMessages</button><br><br>
            <button type="submit" asp-page-handler="ResetTrivia" class="btn btn-primary">ResetTrivia</button><br>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>