﻿@page
@model ResultadosModel
@{
    ViewData["Title"] = "John Deere Day";
}
@section Scripts {
    <script src="js/resultados.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="css/resultados.css"/>
}


<div class="row">
    <div class="col-lg-6 text-center">
        <img src="images/JDLogo.png" width="300px" class="img-fluid" alt="Responsive image">
    </div>
    
    <div class="col-lg-6 text-center">
            <img src="images/ITS.png" width="300px" class="img-fluid" alt="Responsive image">
        </div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <div id="divResults">
            
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>