﻿@page
@model TriviaModel
@{
    ViewData["Title"] = "John Deere Day";
}
@section Scripts {
    
}
@section Styles {
    
}


<div class="row">
    <div class="col-lg-6 text-center">
        <img src="images/JDLogo.png" width="300px" class="img-fluid" alt="Responsive image">
    </div>
    
    <div class="col-lg-6 text-center">
            <img src="images/ITS.png" width="300px" class="img-fluid" alt="Responsive image">
        </div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-left">
        <h1>John Deere Day - ITS - Trivia</h1>
        <form method="post">
            <div class="form-group">
                <label for="inputTeam">Selecciona un equipo</label>
                <select id="inputTeam" asp-for="Equipo" class="form-control">
                    <option selected value="-1">...</option>
                    <option value="Equipo 1">Equipo 1</option>
                    <option value="Equipo 2">Equipo 2</option>
                    <option value="Equipo 3">Equipo 3</option>
                    <option value="Equipo 4">Equipo 4</option>
                    <option value="Equipo 5">Equipo 5</option>
                    <option value="Equipo 6">Equipo 6</option>
                    <option value="Equipo 7">Equipo 7</option>
                    <option value="Equipo 8">Equipo 8</option>
                    <option value="Equipo 9">Equipo 9</option>
                    <option value="Equipo 10">Equipo 10</option>
                </select>
            </div>
            
            @for (int j = 0; j < Model.TriviaItems.Count; j ++) {
                var item = Model.TriviaItems[j];
                <div class="form-group">
                    <label for="inputTeam">@Html.Raw(item.Question.Replace("\n", "<br>"))</label>
                    <input type="hidden" name="[@j].TriviaItemId" value="@item.Id"/>
                    <select id="inputTeam" name="[@j].Answer" class="form-control">
                        <option selected value="-1">...</option>
                        @for (int i = 0; i < item.Options.Length; i++) {
                            <option value="@i">@item.Options[i]</option>
                        }
                    </select>
                </div>
            }
            
            @if (!string.IsNullOrEmpty(Model.ErrorMessage)) {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }

            <button type="submit" class="btn btn-primary">Submit</button><br>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
        <div id="divMessages">
            
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>